* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family:  Helvetica, Arial, sans-serif;
}

.btn {
    padding: 12px;
    border-style: none;
    border-radius: 5px;
    cursor: pointer!important;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

@media screen and (max-width: 700px) {
    .menu {
        justify-content: center;
    }
}

.menu-list {
    display: flex;
    list-style: none;
}

.item a {
    color:#fff;
    margin: 5px;
    padding: 15px;
    text-decoration: none;

    transition: 0.5s;
}

.main {
    background-color: steelblue;
}

.btn-subs {
    color: #fff;
    background-color: salmon;
    border: 1px solid salmon;

    transition: 0.5s;
}

.btn-subs:hover {
    color: salmon;
    background-color: #fff;
}

/* Section .crud */
.crud {
    width: 70%;
    margin: 30px auto;
}

@media screen and (max-width: 700px) {
    .crud  {
        width: 95%;
    }
}


.crud-title {
    text-align: center;
    margin: 30px;
}

.crud-title h1 {
    font-size: 2rem;
}

.crud-title h3 {
    color: steelblue;
    font-size: 2rem;
}

.crud-section {
    margin: 20px;
    padding: 30px;
}

.title-task, .desc-task {
    font-size: 1.5rem;
}

input[name="title"], textarea[name="description"] {
    width: 100%;
    padding: 15px;
    font-size: 1.5rem;
    color: steelblue;
    border-style: none;
    border-bottom: 2px solid #ccc ;
    margin: 10px!important;
    outline: none;
    transition: .5s;
}

input[name="title"]:focus, textarea[name="description"]:focus {
    border-bottom: 2px solid steelblue;
}

input[type="submit"] {
    background-color: #fff;
    border: 1.5px solid steelblue;
    color: steelblue;
    transition: .5s;
}

input[type="submit"]:hover {
    background-color: steelblue;
    color: #fff;
}

.list-style {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgb(203, 218, 238);
    margin-bottom: 50px;
}

@media screen and (max-width: 700px) {
    .list-content {
        margin: 10px auto;
    }

    .list-item {
        justify-content: space-around;
    }
}

.list-item {
    width: 97%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .5s;
}

.btn-delate {
    cursor: pointer;
    transition: .5s;
}

.list-content {
    padding: 8px;
}

.btn-delate:hover {
    background: #fff;
}

.list-title, .list-desc {
    padding: 10px;
    color: steelblue;
}

.list-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.list-desc {
    font-size: 1.5rem;
}

/* footer */
@media (min-width: 300px) and (max-width:1000px) {
    .footer-menu {
        display: block!important;
    }
}

footer {
    padding: 90px 10px;
    width: 80%;
    margin: 0 auto;

    border-top: 1px solid steelblue;
}


.footer-menu {
    display: flex;
    justify-content: space-evenly;
}

.nav-footer {
    display: flex;
    justify-content: center;
}

.catalogo, .soporte {
    margin: 10px 30px;
    padding: 20px;
}

.catalogo h3, .soporte h3 {
    color: steelblue;
    margin: 5px;
    cursor: pointer;
}

.catalogo p, .soporte p {
    color: slategray;
    font-size: 1rem;
    margin: 5px;
    cursor: pointer;
}

.redes-sociales {
    display: flex;
    justify-content: center;
}

.redes-sociales a {
    color: #7a7a7a;
    margin: 10px;
    margin-top: 30px;
    text-decoration: none;
}

.derechos-reservados {
    text-align: center;
    font-size: 1rem;
    color: steelblue;
}